.modal {
  background: rgba(0, 0, 0, 0.6);
}
.modal-container {
  position: absolute;
  border-radius: 25px;
  width: 39%;
  background: #ffffff;
  left: 30%;
  top: 30%;
  padding: 20px;
}

button {
  padding: 15px 30px;
  border: 0;
  border-radius: 45px;
}
